<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(assigns)}>
  <head>
    <meta name="csrf-token" content={get_csrf_token()} />
    <%= render_meta_tags(assigns) %>
    <%= render_schema(assigns) %>
    <.live_title>
      <%= render_page_title(assigns) %>
    </.live_title>
    <link
    rel="preload"
    href="https://staging-assets.dockyard.com/dockyard_com/manrope-v13-latin-latin-ext-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin />
     <link
    rel="preload"
    href="https://staging-assets.dockyard.com/dockyard_com/manrope-v13-latin-latin-ext-600.woff2"
    as="font"
    type="font/woff2"
    crossorigin />
    <link
    rel="preload"
    href="https://staging-assets.dockyard.com/dockyard_com/plus-jakarta-sans-v3-latin-latin-ext-500.woff2"
    as="font"
    type="font/woff2"
    crossorigin />
    <link
    rel="preload"
    href="https://staging-assets.dockyard.com/dockyard_com/plus-jakarta-sans-v3-latin-latin-ext-600.woff2"
    as="font"
    type="font/woff2"
    crossorigin />
    <link
    rel="preload"
    href="https://staging-assets.dockyard.com/dockyard_com/plus-jakarta-sans-v3-latin-latin-ext-700.woff2"
    as="font"
    type="font/woff2"
    crossorigin />
    <link
    rel="preload"
    href="https://staging-assets.dockyard.com/dockyard_com/plus-jakarta-sans-v3-latin-latin-ext-regular.woff2"
    as="font"
    type="font/woff2"
    crossorigin />
    <%= linked_stylesheets(assigns) %>
    <link id="beacon-runtime-stylesheet" rel="stylesheet" href={asset_path(@conn, :css)} />
    <script defer src={asset_path(@conn, :js)}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
